* {
  box-sizing: border-box;
  scroll-behavior: smooth !important;
  margin: 0;
  padding: 0;
}
body {

  box-sizing: border-box;
  background: var(--light-surface-container-low);
  font-family: var(--font-work-sans), "Segoe UI", "sans-serif";
}

a {
  text-decoration: none;
}
ul {
  list-style: none !important;
}

/* loading ui  */
/* loading ui  */
.loading-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: var(--light-surface-container-highest);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loading-wrapper img {
  position: relative;

}

.loader {
  margin-top: 24px; 
  width: 90%;
  max-width: 600px;
  height: 16px;
  border-radius: 20px;
  color: var(--light-primary);
  border: 2px solid;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 5s 1;
}
@keyframes l6 {
    100% {inset:0}
}
.spinner {
  position: relative;
  bottom: 70px;
  box-sizing: border-box;
  background-clip: padding-box;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 4px solid rgba(255, 255, 255, 0.1);
  -webkit-mask: linear-gradient(rgba(0, 0, 0, 0.1), #000000 90%);
  transform-origin: 50% 60%;
  transform: perspective(200px) rotateX(66deg);
  animation: spinner-wiggle 1.2s infinite;
}
.spinner:before,
.spinner:after {
  content: "";
  position: absolute;
  margin: -4px;
  box-sizing: inherit;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  opacity: 0.05;
  border: inherit;
  border-color: transparent;
  animation: spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite,
    spinner-fade 1.2s linear infinite;
}

.spinner:before {
  border-top-color: #66e6ff;
}

.spinner:after {
  border-top-color: #f0db75;
  animation-delay: 0.3s;
}

@keyframes spinner-spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner-fade {
  20% {
    opacity: 0.1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0.1;
  }
}

.h1 {
  margin: 0;
  font-weight: 600;
  letter-spacing: 0.05rem;
  color: var(--dark-on-surface);
  font-family: var(--font-work-sans), Segoe UI, sans-serif;
  font-size: 3rem;
  line-height: 1.167;
  color: var(--white);
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
@media (max-width: 600px) {
  .h1 {
    font-size: 2rem;
  }
}

/* container  */
.max-width-lg {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}
@media (max-width: 600px) {
  .max-width-lg {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.max-width-xl {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}
@media (max-width: 600px) {
  .max-width-xl {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}
/* margin  */
.mt-16 {
  margin-top: 16px;
}

/* skeleton  */
@keyframes pulse {
  0% {
    color: transparent;
    background: rgba(229, 231, 235, 1);
    border: none;
    filter: brightness(0);
    background-image: none;
    opacity: 0.06;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    color: transparent;
    background: rgba(229, 231, 235, 1);
    border: none;
    filter: brightness(0);
    background-image: none;
    opacity: 0.06;
  }
}

.skeleton {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) 5;
  animation-fill-mode: none;
}

/* dark Skeleton  */
@keyframes darkPulse {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
.dark-skeleton {
  animation: darkPulse 1s linear infinite alternate;
}

/* image styles  */
.image-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.image-fill {
  width: 100%;
  height: 100%;
}
.image-wrapper img {
  object-fit: cover;
}
.border-radius-12 {
  border-radius: 12px;
}
.overflow-hidden {
  overflow: hidden;
}
/* body 1 */
.body1,
.body1 p,
.body1 strong {
  margin: 8px 0 8px 0;
  font-weight: 400;
  color: var(--light-on-surface-variant);
  font-family: var(--font-work-sans), Segoe UI, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.body1 strong {
  font-weight: 600 !important;
  display: inline-block;
  letter-spacing: 0;
  margin: 0;
}
.body1 ul {
  margin-left: 32px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.body1 ul li {
  position: relative;

  margin: 8px 0;
}
.body1 ul li::before {
content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyOCAyOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE0LjAwMTMgMC42NjY5OTJDNi42NDEzIDAuNjY2OTkyIDAuNjY3OTY5IDYuNjQwMzMgMC42Njc5NjkgMTQuMDAwM0MwLjY2Nzk2OSAyMS4zNjAzIDYuNjQxMyAyNy4zMzM3IDE0LjAwMTMgMjcuMzMzN0MyMS4zNjEzIDI3LjMzMzcgMjcuMzM0NiAyMS4zNjAzIDI3LjMzNDYgMTQuMDAwM0MyNy4zMzQ2IDYuNjQwMzMgMjEuMzYxMyAwLjY2Njk5MiAxNC4wMDEzIDAuNjY2OTkyWk0xMS4zMzQ2IDIwLjY2N0w0LjY2Nzk3IDE0LjAwMDNMNi41NDc5NyAxMi4xMjAzTDExLjMzNDYgMTYuODkzN0wyMS40NTQ2IDYuNzczNjZMMjMuMzM0NiA4LjY2Njk5TDExLjMzNDYgMjAuNjY3WiIgZmlsbD0iIzJCNDkzQiIvPgo8L3N2Zz4K");
  position: absolute;
  top: 2px;
  left: -2rem;
}

.body2 {
  font-weight: 400;
  color: var(--light-on-surface-variant);
  font-family: var(--font-work-sans), Segoe UI, sans-serif;
  font-size: 0.9rem;
}
strong {
  font-weight: 500;
}
.center-align{ 
  text-align: center;
}

/* general positioning  */
.mt-8 {
  margin-top: 8px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-32 {
  margin-top: 32px;
}
.mt-40 {
  margin-top: 40px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-16 {
  margin-bottom: 16px;
}

.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.gap-4 {
  gap: 4px;
}
.gap-8 {
  gap: 8px;
}
.gap-16 {
  gap: 16px;
}
.gap-24{ 
  gap: 24px;
}
