:root {
  /* Color styles */
  --material-theme--white: rgba(255, 255, 255, 1);
  --material-theme--black: rgba(0, 0, 0, 1);
  --light-primary: rgb(0 26 83);
 --light-surface-tint: rgb(64 90 166);
 --light-on-primary: rgb(255 255 255);
 --light-primary-container: rgb(12 46 121);
 --light-on-primary-container: rgb(240 241 255);
 --light-secondary: rgb(0 26 83);
 --light-on-secondary: rgb(255 255 255);
 --light-secondary-container: rgb(12 46 121);
 --light-on-secondary-container: rgb(240 241 255);
 --light-tertiary: rgb(0 26 83);
 --light-on-tertiary: rgb(255 255 255);
 --light-tertiary-container: rgb(12 46 121);
 --light-on-tertiary-container: rgb(240 241 255);
 --light-error: rgb(96 0 4);
 --light-on-error: rgb(255 255 255);
 --light-error-container: rgb(152 0 10);
 --light-on-error-container: rgb(255 255 255);
 --light-background: rgb(250 248 255);
 --light-on-background: rgb(26 27 32);
 --light-surface: rgb(250 248 255);
 --light-on-surface: rgb(0 0 0);
 --light-surface-variant: rgb(225 225 239);
 --light-on-surface-variant: rgb(0 0 0);
 --light-outline: rgb(41 44 54);
 --light-outline-variant: rgb(70 73 83);
 --light-shadow: rgb(0 0 0);
 --light-scrim: rgb(0 0 0);
 --light-inverse-surface: rgb(47 48 53);
 --light-inverse-on-surface: rgb(255 255 255);
 --light-inverse-primary: rgb(180 197 255);
 --light-primary-fixed: rgb(41 69 143);
 --light-on-primary-fixed: rgb(255 255 255);
 --light-primary-fixed-dim: rgb(10 45 120);
 --light-on-primary-fixed-variant: rgb(255 255 255);
 --light-secondary-fixed: rgb(41 69 143);
 --light-on-secondary-fixed: rgb(255 255 255);
 --light-secondary-fixed-dim: rgb(10 45 120);
 --light-on-secondary-fixed-variant: rgb(255 255 255);
 --light-tertiary-fixed: rgb(41 69 143);
 --light-on-tertiary-fixed: rgb(255 255 255);
 --light-tertiary-fixed-dim: rgb(10 45 120);
 --light-on-tertiary-fixed-variant: rgb(255 255 255);
 --light-surface-dim: rgb(185 184 191);
 --light-surface-bright: rgb(250 248 255);
 --light-surface-container-lowest: rgb(255 255 255);
 --light-surface-container-low: rgb(241 240 247);
 --light-surface-container: rgb(227 226 233);
 --light-surface-container-high: rgb(213 211 219);
 --light-surface-container-highest: rgb(199 198 205);

 --dark-primary: rgb(238 239 255);
 --dark-surface-tint: rgb(180 197 255);
 --dark-on-primary: rgb(0 0 0);
 --dark-primary-container: rgb(175 193 255);
 --dark-on-primary-container: rgb(0 8 40);
 --dark-secondary: rgb(238 239 255);
 --dark-on-secondary: rgb(0 0 0);
 --dark-secondary-container: rgb(175 193 255);
 --dark-on-secondary-container: rgb(0 8 40);
 --dark-tertiary: rgb(238 239 255);
 --dark-on-tertiary: rgb(0 0 0);
 --dark-tertiary-container: rgb(175 193 255);
 --dark-on-tertiary-container: rgb(0 8 40);
 --dark-error: rgb(255 236 233);
 --dark-on-error: rgb(0 0 0);
 --dark-error-container: rgb(255 174 164);
 --dark-on-error-container: rgb(34 0 1);
 --dark-background: rgb(18 19 24);
 --dark-on-background: rgb(227 226 233);
 --dark-surface: rgb(18 19 24);
 --dark-on-surface: rgb(255 255 255);
 --dark-surface-variant: rgb(68 70 81);
 --dark-on-surface-variant: rgb(255 255 255);
 --dark-outline: rgb(238 239 253);
 --dark-outline-variant: rgb(193 194 207);
 --dark-shadow: rgb(0 0 0);
 --dark-scrim: rgb(0 0 0);
 --dark-inverse-surface: rgb(227 226 233);
 --dark-inverse-on-surface: rgb(0 0 0);
 --dark-inverse-primary: rgb(40 67 142);
 --dark-primary-fixed: rgb(219 225 255);
 --dark-on-primary-fixed: rgb(0 0 0);
 --dark-primary-fixed-dim: rgb(180 197 255);
 --dark-on-primary-fixed-variant: rgb(0 14 53);
 --dark-secondary-fixed: rgb(219 225 255);
 --dark-on-secondary-fixed: rgb(0 0 0);
 --dark-secondary-fixed-dim: rgb(180 197 255);
 --dark-on-secondary-fixed-variant: rgb(0 14 53);
 --dark-tertiary-fixed: rgb(219 225 255);
 --dark-on-tertiary-fixed: rgb(0 0 0);
 --dark-tertiary-fixed-dim: rgb(180 197 255);
 --dark-on-tertiary-fixed-variant: rgb(0 14 53);
 --dark-surface-dim: rgb(18 19 24);
 --dark-surface-bright: rgb(79 80 85);
 --dark-surface-container-lowest: rgb(0 0 0);
 --dark-surface-container-low: rgb(30 31 36);
 --dark-surface-container: rgb(47 48 53);
 --dark-surface-container-high: rgb(58 59 65);
 --dark-surface-container-highest: rgb(70 70 76);
}
